@charset "EUC-KR";
.table{
  margin-left: auto;
  margin-right: auto;
}

.title{
  width: 1000px;
  border-top: 1px solid #7393b6;
}
.titleName{
  font-size: 2em;
  text-align: center;
  height: 50px;
  border-bottom: 1px solid #7393b6; 
}


.table1{
  margin-left: auto;
  margin-right: auto;
    width: 900px;
    height: 400px;
    border: 1px solid #7393b6;
}

.idFind{
  font-size: 2em;
  text-align: center;
  width: 50%;
  height: 50px;
  border-right: 1px solid #7393b6;
  border-bottom: 1px solid #7393b6;
  background-color: #acfa58;
  
}

.pwdFind{
  font-size: 2em;
  text-align: center;
  width: 50%;
  height: 50px;
  border-left: 1px solid #7393b6; 
  border-bottom: 1px solid #7393b6;
  background-color: #8181f7;
}
.idFind:hover, .pwdFind:hover{
  font-size: 2em;
  text-align: center;
  height: 50px;
  border-bottom: 1px solid #7393b6; 
  background-color: #acfa58;
  cursor: pointer;
}

.text1{
  font-size: 1.7em;
  text-align: right;
  width: 50%; 
}
.text2{
  font-size: 1.7em;
  text-align: center;
}

.inputFild{
   text-align: left;
   width: 50%; 
}
.input1{
  width: 200px;
  height: 25px;
  border: 1px solid #7393b6;
}

.confirm1{
  text-align: right;
  width: 50%;
  padding-right: 10px; 
}
.confirm2{
  text-align: left;
  width: 50%;
  padding-left: 10px; 
}
