<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.marketd.persistence.ProductService_Mapper">

<select id="selectProductListTotal" parameterType="HashMap" resultType="Integer">
select count(*)as tcount from product32 where pdelYn='N' and psaleYn='N' 
<if test='caidx!="1000"'>and caidx = #{caidx} </if>

<if test='keyword!=""'> and psubject like '%'||#{keyword}||'%' </if>
<if test='minPrice lte maxPrice and maxPrice!=null and maxPrice!="0" '> and pmoney  
<![CDATA[>= #{minPrice} and  pmoney <= #{maxPrice}]]> </if>
</select>

<select id="selectNewProductList" parameterType="Integer" resultType="pv" > <!-- 페이징 row처리 -->

select * from (select rownum as rnum,AA.* from(
select a.pidx,psubject,mname,pmoney,pwridate,uuid,uploadPath,fileName,fileType from
 product32 a left outer join member32 b on a.midx = b.midx
 left outer join boardattach32 c on a.pidx = c.pidx
 where pdelYn='N'  and psaleYn='N' order by a.pidx desc)AA)where <![CDATA[  rownum<=(#{page}*12)]]>


 </select>
 
 <select id="selectProductSerchList" parameterType="HashMap" resultType="pv" >

select  rownum,pidx,psubject,mname,pmoney,pwridate from
 product32 a left outer join member32 b on a.midx = b.midx where pdelYn='N' and psaleYn='N'
  <if test='caidx!="1000"'>and a.caidx = #{caidx} </if>

<if test='keyword!=""'> and psubject like '%'||#{keyword}||'%' </if>
<if test='minPrice lte maxPrice and maxPrice!=null and maxPrice!="0" '> and pmoney 
 <![CDATA[>= #{minPrice} and  pmoney <= #{maxPrice}]]> </if>

<![CDATA[ and rownum<=(#{page}*12) order by pidx desc ]]>

 </select>
 
 
<!--  selectProductOne / 상품 콘텐츠 셀렉트 -->
<select id="selectProductOne" parameterType="Integer" resultType="pv">
select * from product32 A inner join member32 B on A.midx = B.midx where A.pdelYn='N' and pidx=#{pidx}
</select>



<insert id="insertSaleProduct" parameterType="HashMap">

insert into product32(pidx,caidx,midx,psubject,pcontent,pvol,pmoney,pfee,pip)
values(product_seq.nextval,#{caidx},#{midx},#{psubject},#{pcontent},#{pvol},#{pmoney},#{pfee},#{pip})

</insert>

<insert id="insertShoppingCart" parameterType="Integer">

insert into shoppingcart32(sidx,pidx,svol,midx) values(shoppingcart_seq.nextval,#{0},#{1},#{2})

</insert>
 
  <select id="checkShoppingCart" parameterType="Integer" resultType="Integer" >
  
select count(sidx) from shoppingcart32 where pidx = #{0} and midx=#{1}

</select>
 
<update id="deleteSalesHistory" parameterType="Integer">

update product32 set pdelyn='Y' where pidx = #{pidx}

</update>

<update id="updateDelivery" parameterType="Integer">

update delivery32 set caidx=#{caidx}, dwaybill = #{dwaybill} where oidx = #{oidx}

</update>

 <select id="selectSalesHistoryList" parameterType="HashMap" resultType="psdto" >

select * from(select rownum as rnum,AA.* from(select * from product32 a full outer join order32 b on a.pidx = b.pidx full outer join delivery32 c on b.OIDx = c.oidx
full outer join pay32 d on b.oid = d.oid  where pdelYn='N' and a.midx=#{midx}
 <if test='startdate!="1"'> <![CDATA[ and pwridate>=#{startdate} and pwridate<=#{lastdate}]]></if>
  <![CDATA[  order by a.pidx desc)AA where rownum <=(#{page}-1)*10+10) where rnum >=(#{page}-1)*10+1]]>

</select>

 <select id="selectHistoryTotal" parameterType="HashMap" resultType="Integer" >
 
<if test='division == "구매"'>
select count(*) from product32 A full outer join order32 B on A.pidx = B.pidx full outer join delivery32 C on b.OIDX = c.OIDX
full outer join pay32 D on b.OID = d.OID where odelyn='N' and ocancle='N' and dcancle='N'  and B.midx=#{midx} 
<if test='startdate!="1"'> <![CDATA[ and pwridate>=#{startdate} and pwridate<=#{lastdate}]]></if>
</if>

<if test='division == "판매"'>
select count(*) from product32 a full outer join order32 b on a.pidx = b.pidx full outer join delivery32 c on b.OIDx = c.oidx 
where pdelYn='N'  and a.midx=#{midx} 
<if test='startdate!="1"'> <![CDATA[ and pwridate>=#{startdate} and pwridate<=#{lastdate}]]></if>
</if>

</select>


<update id="updateProductconfirmation" parameterType="Integer">

update order32 set ofinal = 'Y' where oidx=#{oidx}

</update>


<select id="selectPaymentHistoryList" parameterType="HashMap" resultType="psdto" >
  
  select * from(select rownum as rnum,AA.* from(select * from product32 A full outer join order32 B on A.pidx = B.pidx full outer join delivery32 C on b.OIDX = c.OIDX
full outer join pay32 D on b.OID = d.OID where odelyn='N'and pacancle='N' and ocancle='N' and dcancle='N' and B.midx=#{midx}
 <if test='startdate!="1"'> <![CDATA[ and obuydate>=#{startdate} and obuydate<=#{lastdate}]]></if>
  <![CDATA[  order by a.pidx desc)AA where rownum <=(#{page}-1)*10+10) where rnum >=(#{page}-1)*10+1]]>
  
 
</select>

<insert id="insertOrder" parameterType="HashMap">

insert into order32(oidx,pidx,midx,oid,omoney,oip) values(order_seq.nextval,#{pidx},#{midx},#{oid},#{omoney},#{oip})

</insert>

<insert id="insertDelivery" parameterType="HashMap">

insert into delivery32(didx,oidx,drecipt,dtell,daddr,ddetails,dmemo) values(delivery_seq.nextval,#{oidx},#{drecipt},#{dtell},#{daddr},#{ddetails},#{dmemo})

</insert>

<insert id="insertPayment" parameterType="HashMap">

insert into pay32(paidx,oid,pamoney,paname) values(pay_seq.nextval,#{oid},#{omoney},#{paname})

</insert>

<select id="selectOrderOne" parameterType="HashMap" resultType="ov" >
  
  select * from order32 where pidx = #{pidx} and midx = #{midx}

</select>

<update id="updatePsale" parameterType="HashMap">

update product32 set psaleYn = 'Y' where pidx=#{pidx}

</update>

<update id="updatePayment" parameterType="HashMap">

update pay32 set pacomplete = 'Y' where oid=#{oid}

</update>

<select id="selectDelivery" parameterType="Integer" resultType="dv" >
  
  select * from delivery32 where dcancle = 'N' and oidx = #{oidx}

</select>

<update id="updateOrderCancle" parameterType="Integer">

update order32 set ocancle='Y' where pidx=#{pidx}

</update>

<update id="updatePaymentCancle" parameterType="String">

update pay32 set pacancle='Y' where oid = #{oid}

</update>

<update id="updateDeliveryCancle" parameterType="Integer">

update delivery32 set dcancle='Y' where oidx = #{oidx}

</update>

<update id="updateProductCancle" parameterType="Integer">

update product32 set psaleYn='N' where pidx=#{pidx}

</update>






 
 
</mapper>